/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1d4ed8;
  --ifm-color-primary-dark: #1e40af;
  --ifm-color-primary-darker: #1e3a8a;
  --ifm-color-primary-darkest: #172554;
  --ifm-color-primary-light: #2563eb;
  --ifm-color-primary-lighter: #3b82f6;
  --ifm-color-primary-lightest: #60a5fa;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #0891b2;
  --ifm-color-primary-dark: #0e7490;
  --ifm-color-primary-darker: #155e75;
  --ifm-color-primary-darkest: #083344;
  --ifm-color-primary-light: #06b6d4;
  --ifm-color-primary-lighter: #22d3ee;
  --ifm-color-primary-lightest: #67e8f9;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
#frontPage {
  width: 100%;
  height: 100%;
}
.frontPage__text {
  margin: auto;
  max-width: 45%;
  padding: 1em;
}

.main-wrapper {
  flex: 1 0 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.filter-demo {
  background-color: var(--ifm-alert-background-color);
  border: var(--ifm-alert-border-width) solid var(--ifm-alert-border-color);
  border-radius: var(--ifm-alert-border-radius);
  box-shadow: 0;
  color: var(--ifm-alert-foreground-color);
  padding: var(--ifm-alert-padding-vertical) var(--ifm-alert-padding-horizontal);
  --ifm-pre-border-radius: 0;
  --ifm-global-shadow-lw: 0;
  --ifm-leading: 0;
}

/* ====== button ====== */

.toolbar-button-icon {
  display: inline-flex;
  border-radius: var(--ifm-button-border-radius);
  border-color: transparent;
  border-width: calc(var(--ifm-button-border-width) * 2);
  border-style: solid;
  padding: 2px 2px 0px 2px;
  box-sizing: border-box;
}

.editor-button-icon {
  display: inline-flex;
  border-radius: var(--ifm-button-border-radius);
  border-color: transparent;
  box-sizing: border-box;
}

.toolbar-button-icon svg {
  width: 1.5em;
  height: 1.5em;
}

.editor-button-icon svg {
  width: 1.75em;
  height: 1.75em;
}

.toolbar-button-icon-selected {
  border-color: var(--ifm-button-border-color);
}

.editor-button-icon:disabled,
.toolbar-button-icon:disabled {
  opacity: 0.5;
}

/* ===== Flex utilities ===== */

.flex-row {
  display: flex;
  gap: 4px;
  align-items: center;
}

.image-demo-toolbar-info {
  color: var(--ifm-color-primary-lightest);
  font-size: 0.75em;
  line-height: 1em;
}

.filter-demo-addon {
  max-width: 512px;
}
